<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sttu.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @sttu.content %>
</p>

<%= link_to 'Edit', edit_sttu_path(@sttu) %> |
<%= link_to 'Back', sttus_path %>
